[Unit]
Description=Reporting sensor data to a server
After=network.target
Wants=time-sync.target
After=time-sync.target

[Service]
User=pi
Environment=URL=http://<SERVER DOMAIN>:<PORT>/stats/
Environment=INTERVAL=60
Environment=SENSORS_API_KEY=<ACCESS KEY>
Environment=PYTHONUNBUFFERED=1

Restart=always
RestartSec=5s

WorkingDirectory=/home/pi/sensors/
ExecStart=/home/pi/sensors/.venv/bin/python sensors.py

[Install]
WantedBy=multi-user.target
